.paste-btn,
.cancel-btn {
    position: fixed;
    width: 75px;
    height: 75px;
    border-radius: 40px;
    background-color: rgb(8, 56, 94);
    box-shadow: 0 3px 4px rgb(17, 17, 17);
    z-index: 90;
    display: block;
    transition: transform 0.3s;
    transform: scale(0);
}

.visible .paste-btn,
.visible .cancel-btn {
    transform: scale(1);
}

.paste-btn {
    bottom: 10%;
    right: 15%;
}

.cancel-btn {
    bottom: 10%;
    left: 15%;
}

.paste-btn:before,
.cancel-btn:before {
    position: absolute;
    content: "";
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
    -webkit-mask-size: 100% 100%;
    background-color: white;
    -webkit-mask-repeat: no-repeat;
}

.paste-btn:before {
    -webkit-mask-image: url(../images/paste.png);
}

.cancel-btn:before {
    -webkit-mask-image: url(../images/cancel.png);
}