.circle .ui-item:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-mask-size: 100% 100%;
    background-color: rgb(89, 88, 91);
    -webkit-mask-repeat: no-repeat;
}

.circle .menu-create-folder:before {
    -webkit-mask-image: url(../images/create-folder.png);
}

.circle .menu-create-file:before {
    -webkit-mask-image: url(../images/create-file.png);
}

.circle .menu-rename:before {
    -webkit-mask-image: url(../images/rename.png);
}

.circle .menu-delete:before {
    -webkit-mask-image: url(../images/delete.png);
}

.circle .menu-copy:before {
    -webkit-mask-image: url(../images/copy.png);
}

.circle .menu-cut:before {
    -webkit-mask-image: url(../images/cut.png);
}

.circle .menu-info:before {
    -webkit-mask-image: url(../images/info.png);
}

.circle .menu-breadcrumb:before {
    -webkit-mask-image: url(../images/navigation.png);
}

.circle .menu-hidden-files:before {
    -webkit-mask-image: url(../images/show-hidden.png);
}

.circle .menu-hidden-files.hide:before {
    -webkit-mask-image: url(../images/hide-hidden.png);
}

#storages-list a > *,
#file-list a > * {
    vertical-align: middle;
}

#storages-list a,
#file-list a {
    text-align: left;
}

.btn-icon-check:before {
    background-color: rgba(0, 149, 255, 1);
    -webkit-mask-image: url(../images/popup-check.png);
}

.btn-icon-cancel:before {
    background-color: rgba(0, 149, 255, 1);
    -webkit-mask-image: url(../images/popup-cancel.png);
}

#input-popup input {
    width: 100%;
}

#files-menu-circle .ui-item.hidden:before {
    background-color: rgb(50, 50, 50);
}

#files-menu-circle .ui-item.hidden {
    background-color: rgb(30, 30, 30);
}

#files-menu-square .hidden {
    display: none;
}

.directory .file-size {
    display: none !important;
}

#file-info-name,
#file-info-location {
    white-space: normal;
    word-wrap: break-word;
}

#empty-dir-msg {
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    text-align: center;
    display: inline-block;
    width: 100%;
}

#empty-dir-msg.hidden {
    display: none;
}
